<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
 <configSections>
    <sectionGroup name="FrameworkConfigSection">
      <section name="FrameworkConfig" type="Ada.Framework.Configuration.Section.FrameworkConfigSection, Framework.Configuration, Version=1.1.0.0" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <FrameworkConfigSection>
    <FrameworkConfig>
      <ConfigFiles>
        <File Name="FileSystemActions" Path=".[DS][FileName]" />
      </ConfigFiles>
    </FrameworkConfig>
  </FrameworkConfigSection>

  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="Util.FileMonitor" publicKeyToken="cce9a8bd2757fac3" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-1.0.2.1" newVersion="1.0.2.1" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />  
            </dependentAssembly>  
            <dependentAssembly>  
                 <assemblyIdentity name="Framework.Expressions" publicKeyToken="2ce6fbc613f7de48" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />  
            </dependentAssembly>  
       </assemblyBinding>
  </runtime>
</configuration>