<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configuration.Xml" version="2.0.0.0" targetFramework="net45" />
  <package id="Data.Json" version="1.0.0.0" targetFramework="net45" />
  <package id="Framework.Configuration" version="1.2.0.0" targetFramework="net45" />
  <package id="Framework.Expressions" version="1.1.0.0" targetFramework="net45" />
  <package id="Maintenance.FileManager" version="2.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Util.FileMonitor" version="1.0.2.1" targetFramework="net45" />
</packages>